<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Duality.Tools.DualityConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<appSettings>
		<add key="log4net.Config" value="log4net.config"/>
		<add key="log4net.Config.Watch" value="True"/>
	</appSettings>
    <applicationSettings>
        <Duality.Tools.DualityConsole.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>8081</value>
            </setting>
            <setting name="DebugMessage" serializeAs="String">
                <value>[DEBUG]</value>
            </setting>
            <setting name="InfoMessage" serializeAs="String">
                <value>[INFO]</value>
            </setting>
            <setting name="WarnMessage" serializeAs="String">
                <value>[WARN]</value>
            </setting>
            <setting name="ErrorMessage" serializeAs="String">
                <value>[ERROR]</value>
            </setting>
            <setting name="FatalMessage" serializeAs="String">
                <value>[FATAL]</value>
            </setting>
        </Duality.Tools.DualityConsole.Properties.Settings>
    </applicationSettings>
</configuration>
